# Dependencies
node_modules/

# Production build outputs
dist/
dist-ssr/

# Environment files
*.local
.env
.env.*

# Editor & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
